.item-detail {
	align-items: flex-start;
	background-color: #ffffff;
	display: flex;
	gap: 10px;
	height: 424px;
	min-width: 1440px;
	position: relative;
	width: 100%;
	top: 70px;
  }
  
  .item-detail .wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 1440px;
	height: 100%;
    /* ********************************* */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* ********************************* */
  }
  
  .item-detail .header-instance {
	align-self: stretch !important;
	width: 100% !important;
  }
  
  .item-detail .main {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 754px;
	padding: 30px 0px;
	position: relative;
	width: 1440px;
  }
  
  .item-detail .container-2 {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	height: 724px;
	margin-bottom: -30px;
	padding: 0px 88px;
	position: relative;
	width: 1032px;
  }
  
  .item-detail .title {
	align-items: flex-end;
	display: flex;
	height: 80px;
	position: relative;
	width: 856px;
  }
  
  .item-detail .title-msg {
	color: #000000;
	font-family: "Noto Sans KR";
	font-size: 24px;
	font-weight: 900;
	height: 50px;
	letter-spacing: 0;
	line-height: normal;
	position: relative;
	width: 856px;
  }
  
  .item-detail .row {
	align-items: center;
	display: flex;
	gap: 58px;
	height: 350px;
	padding: 0px 18px;
	position: relative;
	width: 856px;
  }
  
  .item-detail .item-detail-left {
	align-items: flex-start;
	display: inline-flex;
	flex: 0 0 auto;
	flex-direction: column;
	gap: 10px;
	height: 300px;
	padding: 20px 0px;
	position: relative;
  }
  
  .item-detail .item-detail-img {
	background-image: url(../assets/images/home_item_img.png);
	background-position: 50% 50%;
	background-size: cover;
	height: 247px;
	position: relative;
	width: 381px;
  }
  
  .item-detail .item-detail-right {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 300px;
	padding: 20px 0px;
	position: relative;
	width: 381px;
  }
  
  .item-detail .item-detail-name {
	background-color: #ffffff;
	height: 60px;
	position: relative;
	width: 381px;
  }
  
  .item-detail .item-detail-name-text {
	color: #000000;
	font-family: "Noto Sans KR";
	font-size: 36px;
	font-weight: 900;
	height: 60px;
	left: 0;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: -1px;
	width: 381px;
  }
  
  .item-detail .item-detail-price {
	background-color: #ffffff;
	height: 30px;
	position: relative;
	width: 381px;
  }
  
  .item-detail .item-detail-price-text {
	color: #000000;
	font-family: "Noto Sans KR";
	font-size: 20px;
	font-weight: 900;
	height: 30px;
	left: 0;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: -1px;
	width: 381px;
  }
  
  .item-detail .item-detail-quantity {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 30px;
	position: relative;
	width: 381px;
  }
  
  .item-detail .item-detail-quantity-input {
	flex: 0 0 auto !important;
	width: 30%;
	height: 100%;
  }
  
  .item-detail .style-light {
	height: 12px !important;
	position: relative !important;
	width: 12px !important;
  }
  
  .item-detail .item-detail-hr-mini {
	background-color: #000000;
	height: 5px;
	position: relative;
	width: 381px;
  }
  
  .item-detail .item-detail-button {
	align-items: flex-start;
	display: flex;
	flex: 0 0 auto;
	gap: 10px;
	padding: 0px 27px;
	position: relative;
	width: 381px;
  }
  
  .item-detail .button-cart {
	background-color: #f5f5f5;
	border-radius: 10px;
	height: 60px;
	overflow: hidden;
	position: relative;
	width: 160px;
  }
  
  .item-detail .button-cart-text {
	color: #000000;
	font-family: var(--semi-bold-text-xl-20-font-family);
	font-size: var(--semi-bold-text-xl-20-font-size);
	font-style: var(--semi-bold-text-xl-20-font-style);
	font-weight: var(--semi-bold-text-xl-20-font-weight);
	height: 60px;
	left: 0;
	letter-spacing: var(--semi-bold-text-xl-20-letter-spacing);
	line-height: var(--semi-bold-text-xl-20-line-height);
	position: absolute;
	text-align: center;
	top: -1px;
	width: 160px;
  }
  
  .item-detail .button-buy-instance {
	margin-right: -3px !important;
  }
  
  .item-detail .bottom {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 294px;
	position: relative;
	width: 856px;
  }
  
  .item-detail .item-detail-hr {
	background-color: #000000;
	height: 5px;
	position: relative;
	width: 856px;
  }
  
  .item-detail .item-detail-lowprice {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 289px;
	padding: 20px 10px;
	position: relative;
	width: 856px;
  }
  
  .item-detail .lowprice-title {
	color: #000000;
	font-family: "Noto Sans KR";
	font-size: 20px;
	font-weight: 900;
	height: 30px;
	position: relative;
	width: 836px;
  }
  
  .item-detail .item-detail-lowprice-3 {
	align-items: flex-start;
	background-color: #f5f5f5;
	border-radius: 10px;
	display: flex;
	gap: 20px;
	height: 179px;
	overflow: hidden;
	padding: 15px 20px;
	position: relative;
	width: 836px;
  }
  
  .item-detail .lowprice-img {
	background-image: url(../assets/images/home_item_img.png);
	background-position: 50% 50%;
	background-size: cover;
	height: 149px;
	position: relative;
	width: 210px;
  }
  
  .item-detail .lowprice-info {
	align-items: flex-start;
	display: inline-flex;
	flex: 0 0 auto;
	flex-direction: column;
	margin-bottom: -1px;
	padding: 20px 0px;
	position: relative;
  }
  
  .item-detail .lowprice-name-wrapper {
	height: 60px;
	position: relative;
	width: 566px;
  }
  
  .item-detail .lowprice-price-wrapper {
	height: 50px;
	position: relative;
	width: 566px;
  }
  