.main { 
	width:1440px;
	height:754px;
	position:absolute;
	left:0px;
	top:70px;
}
.item-detail-container { 
	width:1032px;
	height:724px;
	position:absolute;
	left:204px;
	top:30px;
}
.item-detail-title { 
	width:856px;
	height:80px;
	position:absolute;
	left:88px;
	top:0px;
}
.item-detail-title-msg { 
	color:rgba(0, 0, 0, 1);
	width:856px;
	height:50px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:'Noto Sans KR';
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.item-detail-row { 
	width:856px;
	height:350px;
	position:absolute;
	left:88px;
	top:80px;
}
.item-detail-left { 
	width:381px;
	height:300px;
	position:absolute;
	left:18px;
	top:25px;
}
.item-detail-img { 
	width:381px;
	height:247px;
	position:absolute;
	left:0px;
	top:20px;
	background-image:url(../assets/images/home_item_img.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.item-detail-right { 
	width:381px;
	height:300px;
	position:absolute;
	left:457px;
	top:25px;
}
.item-detail-name { 
	background-color:rgba(255, 255, 255, 1);
	width:381px;
	height:60px;
	position:absolute;
	left:0px;
	top:20px;
}
.item-detail-name-text { 
	color:rgba(0, 0, 0, 1);
	width:381px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:'Noto Sans KR';
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.item-detail-price { 
	background-color:rgba(255, 255, 255, 1);
	width:381px;
	height:30px;
	position:absolute;
	left:0px;
	top:90px;
}
.item-detail-price-text { 
	color:rgba(0, 0, 0, 1);
	width:381px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:'Noto Sans KR';
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.item-detail-quantity { 
	background-color:rgba(255, 255, 255, 1);
	width:381px;
	height:59px;
	position:absolute;
	left:0px;
	top:130px;
}
.item-detail-quantity-input {

}
.item-detail-button { 
	width:381px;
	height:60px;
	position:absolute;
	left:0px;
	top:214px;
}
.button-cart { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:160px;
	height:60px;
	position:absolute;
	left:27px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.button-cart-text { 
	color:rgba(0, 0, 0, 1);
	width:160px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:'Open Sans';
	text-align:center;
	font-size:20px;
	letter-spacing:0;
    line-height: 60px;
}
.button-buy { 
	background-color:rgba(143.70755910873413, 143.70755910873413, 241.18749797344208, 1);
	width:160px;
	height:60px;
	position:absolute;
	left:197px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.button-buy-text { 
	color:rgba(0, 0, 0, 1);
	width:160px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:'Open Sans';
	text-align:center;
	font-size:20px;
	letter-spacing:0;
    line-height: 60px;
}
.item-detail-bottom { 
	width:856px;
	height:294px;
	position:absolute;
	left:88px;
	top:430px;
}
.item-detail-hr { 
	background-color:rgba(0, 0, 0, 1);
	width:856px;
	height:5px;
	position:absolute;
	left:0px;
	top:0px;
}
.item-detail-lowprice { 
	width:856px;
	height:289px;
	position:absolute;
	left:0px;
	top:5px;
}
.item-detail-lowprice-text { 
	color:rgba(0, 0, 0, 1);
	width:836px;
	height:60px;
	position:absolute;
	left:10px;
	/* top:20px; */
	font-family:'Open Sans';
	text-align:left;
	font-size:20px;
	letter-spacing:0;

    top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 40px;
}
.item-detail-lowprice-wrap { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:836px;
	height:179px;
	position:absolute;
	left:10px;
	top:90px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.item-detail-lowprice-wrap-left { 
	width:210px;
	height:149px;
	position:absolute;
	left:20px;
	top:15px;
}
.item-detail-lowprice-img { 
	width:210px;
	height:149px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../assets/images/home_item_img.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.item-detail-lowprice-wrap-right { 
	width:566px;
	height:150px;
	position:absolute;
	left:250px;
	top:15px;
}
.item-detail-lowprice-name { 
	width:566px;
	height:60px;
	position:absolute;
	left:0px;
	top:20px;
}
.item-detail-name-text { 
	color:rgba(0, 0, 0, 1);
	width:381px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:'Noto Sans KR';
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.item-detail-lowprice-price { 
	width:566px;
	height:50px;
	position:absolute;
	left:0px;
	top:80px;
}
.e41_307 { 
	color:rgba(0, 0, 0, 1);
	width:381px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:'Noto Sans KR';
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}